$black-light:#747474;
$black:#30332E;
$orange:#FFAD69;
$pink:#D56999;
$blue:#3D7DF7;
$green:#7B886B;
$yellow:#F5E663;
$grey:#d6d6ca;
$greyblue:#e9f0f3;
$font-xxl:40px;
$font-xl:30px;
$font-l:24px;
$font-m:18px;
$font-s:12px;
$font-ch: 'Noto Sans TC', sans-serif;
$font-eg: 'Montserrat', sans-serif;